# MuchData

<%= xtra.do_not_edit_warning template: template %>

# much_data—A Pure Elixir Markdown Processor

[![CI](https://github.com/RobertDober/much_data/actions/workflows/ci.yml/badge.svg)](https://github.com/RobertDober/much_data/actions/workflows/ci.yml)
[![Coverage Status](https://coveralls.io/repos/github/RobertDober/much_data/badge.svg?branch=main)](https://coveralls.io/github/RobertDober/much_data?branch=main)
[![Hex.pm](https://img.shields.io/hexpm/v/much_data.svg)](https://hex.pm/packages/much_data)
[![Hex.pm](https://img.shields.io/hexpm/dw/much_data.svg)](https://hex.pm/packages/much_data)
[![Hex.pm](https://img.shields.io/hexpm/dt/much_data.svg)](https://hex.pm/packages/much_data)



<%= xtra.moduledoc "much_data" %>



## Installation

If [available in Hex](https://hex.pm/docs/publish), the package can be installed
by adding `much_data` to your list of dependencies in `mix.exs`:

```elixir
def deps do
  [
    {:much_data, "~> <%= MuchData.version %>"}
  ]
end
```

Documentation can be generated with `mix docs`
and published on [HexDocs](https://hexdocs.pm). Once published, the docs can
be found at [https://hexdocs.pm/much_data](https://hexdocs.pm/much_data).

## Author

Copyright © 2021 Robert Dober robert.dober@gmail.com

# LICENSE

Same as Elixir, which is Apache License v2.0. Please refer to [LICENSE](LICENSE) for details.

SPDX-License-Identifier: Apache-2.0
